ACCESS_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJhYmhheS5rYXVzaGFsX2NzMjNAZ2xhLmFjLmluIiwiZXhwIjoxNzgxMDczMTQ0LCJpYXQiOjE3ODEwNzIyNDQsImlzcyI6IkFmZm9yZCBNZWRpY2FsIFRlY2hub2xvZ2llcyBQcml2YXRlIExpbWl0ZWQiLCJqdGkiOiI2MmJiMDAxMy0xOTMyLTQ0YjMtYmUzYi1mZmZhZjVhYzkzMTAiLCJsb2NhbGUiOiJlbi1JTiIsIm5hbWUiOiJhYmhheSBrYXVzaGFsIiwic3ViIjoiNTExYmIzODgtMjZhNS00OTVhLTkzMmQtNWVjY2U4YTUyMDU4In0sImVtYWlsIjoiYWJoYXkua2F1c2hhbF9jczIzQGdsYS5hYy5pbiIsIm5hbWUiOiJhYmhheSBrYXVzaGFsIiwicm9sbE5vIjoiMjMxNTAwMDAyMiIsImFjY2Vzc0NvZGUiOiJSUHNnWXQiLCJjbGllbnRJRCI6IjUxMWJiMzg4LTI2YTUtNDk1YS05MzJkLTVlY2NlOGE1MjA1OCIsImNsaWVudFNlY3JldCI6ImVTVmJyRVBWZnBiQlZrUmgifQ.Wd8RnBzlyUPMP9oRlLjp44YIuKgURJ8Vi3iRgeDxZQ0"
CLIENT_ID=511bb388-26a5-495a-932d-5ecce8a52058
CLIENT_SECRET=eSVbrEPVfpbBVkRh
